<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="_baseUri" value="https://rest.tsheets.com/api/v1" />
    <add key="TSHEETS_CLIENTID" value="3eaacf372aac513522f7bcfaec339b6b" />
    <add key="TSHEETS_CLIENTSECRET" value="e2ce26c04963ac42b6c919561b7bd8c4" />
    <add key="TSHEETS_REDIRECTURI" value="https://leonlebeniste.sharepoint.com/" />
    <add key="TSHEETS_MANUALTOKEN" value="S.1__a471563d3f3331187bff54fddca6473d384aea4d" />
    <add key="start_date" value="2020-10-25" />
    <add key="end_date" value="2020-09-26" />
    <add key="sharepoint_Login" value="love@lovespdev.onmicrosoft.com" />
    <add key="sharepoint_Password" value="spdev#123" />
    <add key="sharepoint_SiteUrl" value="https://lovespdev.sharepoint.com/sites/TSheetDemo" />
    <add key="sharepoint_ListName" value="Tasks" />
    <!-- Get the PMP Site Credentials -->
    <add key="sharepoint_Login_PMP" value="development@leonlebeniste.onmicrosoft.com" />
    <add key="sharepoint_Password_PMP" value="@LLSharePoint2023" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>